////////////////////////////////////////////////
// Based on https://github.com/jenil/bulmaswatch/tree/gh-pages/cyborg
////////////////////////////////////////////////
@import "~bulma/sass/utilities/_all";
$grey-accent: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$primary: #adf32c !default;
$primary-light: lighten($primary, 10);
$link: #c2e232;

$white: #fff;
$white-ter: #f5f5f5;

$body-background-color: #000;
$background: $grey-darker;
$footer-background-color: $background;

$border: $grey-dark;

$title-color: $white;
$subtitle-color: $white-ter;
$subtitle-strong-color: $white-ter;

$text: $white;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$box-color: $text;
$box-background-color: $grey-accent;
$box-shadow: none;

$link-hover: $primary-light;
$link-focus: $primary-light;
$link-active: $primary-light;
$link-hover-border: $grey-dark;
$link-active-border: $grey;

$button-color: $text;
$button-background-color: #111;
$button-border-color: $grey-darker;
$button-hover-color: $grey-lighter;
$button-focus: $grey-light;
$button-active-color: $grey-light;

$input-color: $grey-darker;
$input-icon-color: $grey;
$input-icon-active-color: $input-color;

$table-color: $text;
$table-head: $grey-lighter;
$table-background-color: $grey-darker;
$table-cell-border: 1px solid $grey-dark;

$table-row-hover-background-color: $grey-dark;
$table-striped-row-even-background-color: $grey-dark;
$table-striped-row-even-hover-background-color: lighten($grey-dark, 4);

$pagination-border-color: $grey-darker;
$pagination-disabled: $grey-light;
$pagination-disabled-background-color: $grey-dark;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;

$navbar-background-color: $body-background-color;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: rgba($white, 0.12);
$navbar-item-active-color: $link;
$navbar-item-active-background-color: $navbar-item-hover-background-color;

$navbar-dropdown-background-color: $body-background-color;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background-color: $navbar-item-hover-background-color;
$navbar-dropdown-item-active-background-color: $navbar-item-hover-background-color;
$navbar-dropdown-arrow: $white;

$tabs-boxed-link-active-background-color: $body-background-color;

$file-cta-background-color: $grey-darker;

$progress-bar-background-color: $grey-dark;

$panel-heading-background-color: $grey-dark;

@import "~bulma";
@import "~buefy/src/scss/buefy";

.hero {
  background-color: $black-ter;
}

.delete {
  background-color: rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.label {
  color: $grey-lighter;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.card {
  $card-border-color: lighten($grey-darker, 5);
  box-shadow: none;
  background-color: $grey-darker;

  .card-header {
    box-shadow: none;
    background-color: rgba($black-bis, 0.2);
  }

  .card-footer {
    background-color: rgba($black-bis, 0.2);
  }

  .card-footer,
  .card-footer-item {
    border-color: $card-border-color;
  }
}

.message-header {
  background-color: $black-ter;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.control-label {
  color: $white;
}

.message-body {
  border-color: $black-ter;
}

input, .taginput-container {
  background: $black-ter !important;
  color: $white-ter !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $white-ter;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $white-ter !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $white-ter;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $white-ter;
}

.help {
    color: $grey !important;
}

.modal-card-body {
  background-color: $black-ter;
}

.modal-card-foot,
.modal-card-head {
  border-color: $black-ter;
}

.navbar {
  border: 1px solid $grey-darker;
  .navbar-dropdown {
    border: 1px solid $grey-darker;
  }

  @include touch {
    .navbar-menu {
      background-color: $navbar-background-color;
    }
  }
}

.hero {
  .navbar {
    &,
    .navbar-menu,
    .navbar-dropdown {
      border: none;
    }
  }
}

