<template>
  <section>
    <h1 class="is-size-2 app-heading">Welcome to the substitution plan!</h1>
    <br />

    <b-field
      label="Iserv URL"
      message="URL of your Iserv instance the plan is on"
    >
      <b-input
        v-model="settings.iservURL"
        icon="server"
        required
        type="url"
        placeholder="https://iserv.schule"
      ></b-input>
    </b-field>

    <b-field label="Username" message="Your Iserv Username">
      <b-input
        v-model="settings.username"
        icon="account"
        required
        placeholder="johnsilver"
      ></b-input>
    </b-field>

    <b-field label="Classes / Courses">
      <b-taginput
        v-model="settings.courses"
        ellipsis
        icon="account-group"
        placeholder="Add a class / course by typing here"
      ></b-taginput>
    </b-field>

    <div class="field">
      <b-checkbox required v-model="accepted">
        I understand that my Iserv username and password will be sent to AWS
        servers in the United States through Netlify to receive the data from
        the schools server.
      </b-checkbox>
      <br />
      Also read the
      <a href="https://www.netlify.com/privacy">Netlify Privacy Policy</a> and
      <a href="https://aws.amazon.com/privacy/?nc1=h_ls">AWS Privacy Policy</a>
    </div>

    <b-button type="is-success" @click="submit" icon-left="check" expanded
      >Submit</b-button
    ><br />
    <b-button type="is-warning" @click="cancel" icon-left="cancel" expanded
      >Cancel</b-button
    >
  </section>
</template>
<script>
import { mapState } from "vuex";

export default {
  name: "Home",
  components: {},
  data: function () {
    return {
      accepted: false,
      settings: {
        iservURL: this.$store.state.iservURL,
        username: this.$store.state.username,
        courses: this.$store.state.courses,
      },
    };
  },
  computed: {
    ...mapState(["baseURL", "privacyURL"]),
  },
  methods: {
    cancel: function () {
      console.log("here");
      this.$router.push("/");
    },
    submit: function () {
      // This is definetely the best practice to validate a form in vue
      if (
        this.settings.username !== "" &&
        this.settings.iservURL !== "" &&
        this.settings.courses !== [] &&
        this.accepted === true
      ) {
        if (this.settings.iservURL[this.settings.iservURL.length - 1] === "/") {
          this.settings.iservURL = this.settings.iservURL.slice(0, -1);
        }
        localStorage.setItem("iservURL", this.settings.iservURL);
        localStorage.setItem("username", this.settings.username);
        localStorage.setItem("courses", this.settings.courses);

        this.$buefy.toast.open({
          message: "Saved!",
          type: "is-success",
          position: "is-bottom",
        });
        this.$router.push("/");
      } else {
        this.$buefy.toast.open({
          duration: 5000,
          message: `Please check that you filled out all the fields`,
          position: "is-bottom",
          type: "is-danger",
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.app-heading {
  text-align: center;
}
</style>