<template>
  <div class="home">
    <h1 class="is-size-2 app-heading">{{ fetched[day].date }}</h1>

    <br />
    <div v-if="loaded">
      <b-tabs expanded v-model="day">
        <b-tab-item>
          <template slot="header">
            <b-icon icon="timer-outline"></b-icon>
            <span>
              Today
              <b-tag rounded>{{ fetched[0].week }}</b-tag>
            </span>
          </template>
        </b-tab-item>
        <b-tab-item>
          <template slot="header">
            <b-icon icon="calendar"></b-icon>
            <span>
              Next day
              <b-tag rounded>{{ fetched[1].week }}</b-tag>
            </span>
          </template>
        </b-tab-item>
      </b-tabs>
      <div
        class="course"
        v-for="(items, course) in fetched[day].plan"
        v-bind:key="course"
      >
        <div v-if="$store.state.courses.includes(course)">
          <h3 v-if="items.length > 0" class="is-size-3">{{ course }}</h3>
          <Item
            v-for="item in items"
            v-bind:key="
              item.content + item.time + Math.random().toString(36).substr(2, 5)
            "
            :time="item.time"
            :subject="item.subject"
            :teacher="item.teacher"
            :text="item.text"
            :course="item.course"
            :room="item.room"
          />
        </div>
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br />
      <!-- This is also best-practice -->
    </div>
    <div v-else>
      <b-skeleton width="100%" height="60" animated></b-skeleton>
      <br />
      <br />
      <div v-for="i in Array(3)" v-bind:key="i">
        <b-skeleton width="40%" animated></b-skeleton>
        <b-skeleton width="80%" animated></b-skeleton>
        <b-skeleton animated></b-skeleton>
        <br />
        <br />
      </div>
    </div>
    <FloatingActionButton
      icon="cog"
      position="is-left"
      type="is-warning"
      @click="$router.push('config')"
    />
    <FloatingActionButton
      icon="refresh"
      position="is-right"
      type="is-warning"
      @click="loadData()"
    />
    <passwordModal style="display: none" :password="''" />
  </div>
</template>

<style lang="scss" scoped>
.app-heading {
  text-align: center;
}
</style>

<script>
// @ is an alias to /src
// <b-button class="fab" size="is-large" icon-right="reload" rounded type="is-primary"></b-button>
import Item from "@/components/Item.vue";
import FloatingActionButton from "@/components/FloatingActionButton.vue";
import PasswordModal from "@/components/PasswordModal.vue";
import axios from "axios";


export default {
  name: "Home",
  components: {
    Item,
    FloatingActionButton,
    PasswordModal,
  },
  data: function () {
    return {
      dev: false,
      password: null,
      loaded: false,
      day: 1,
      fetched: {
        0: {},
        1: {},
      },

    };
  },
  mounted: function () {
    if (
      this.$store.state.username !== null &&
      this.$store.state.courses !== null
    ) {
      if (this.password === null) {
        this.passwordModal();
      } else {
        this.loadData();
      }
    }
  },
  methods: {
    passwordModal() {
      this.$buefy.dialog.prompt({
        title: "Password required",
        message: `Please enter your Iserv Password for ${this.$store.state.username}`,
        cancelText: "Settings",
        inputAttrs: {
          placeholder: "Password123",
          type: "password",
        },
        trapFocus: true,
        onConfirm: (value) => {
          this.password = value;
          this.loadData();
        },
        onCancel: () => {
          this.$router.push("config");
        },
      });
    },

    loadData: function () {
      this.loaded = false;
      axios
        .post("/.netlify/functions/plan", {
          url: this.$store.state.iservURL,
          username: this.$store.state.username,
          password: this.password,
        })
        .then((resp) => {
          this.fetched = resp.data;
          this.loaded = true;
        })
        .catch((error) => {
          let message = "";
          message = String(error);
          if (error.response.status === 401) {
            message = "Authentication has failed. Check Username and Password";
          } else if (error.response.status === 502) {
            message = "Cannot connect to iserv.";
          }
          // console.log(error.response.status)
          this.$buefy.dialog.alert({
            title: "An Error occurred",
            message: message,
            type: "is-danger",
            hasIcon: true,
            icon: "alert",
            ariaRole: "alertdialog",
            ariaModal: true,
          });
        });
    },
  },
};
</script>
