<template>
  <b-button @click="$emit('click')" :class="'fab '+position" size="is-large" :icon-right="icon" rounded :type="type"></b-button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Item extends Vue {
  @Prop() private icon!: string;
  @Prop() private type!: string;
  @Prop() private position!: string;
}
</script>

<style scoped lang="scss">
.fab {
  width: 60px;
  height: 60px;
  position: fixed;

}

.is-right {
  right: 15px;
  bottom: 15px;
}

.is-left {
  left: 15px;
  bottom: 15px;
}
</style>
