<template>
  <div class="item">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">{{ time }}</p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <b-field grouped group-multiline>
          <div class="control">
            <b-taglist attached>
              <b-tag type="is-warning">Fach</b-tag>
              <b-tag type="is-info" v-html="safeHTML(subject)"></b-tag>
            </b-taglist>
          </div>
          <div class="control">
            <b-taglist attached>
              <b-tag type="is-success">Lehrer</b-tag>
              <b-tag type="is-info" v-html="safeHTML(teacher)"></b-tag>
            </b-taglist>
          </div>
          <div class="control" v-if="room != null">
            <b-taglist attached>
              <b-tag type="is-link">Raum</b-tag>
              <b-tag type="is-info" v-html="safeHTML(room)"></b-tag>
            </b-taglist>
          </div>
          <div class="control" v-if="course != null">
            <b-taglist attached>
              <b-tag type="is-primary">Klasse(n)</b-tag>
              <b-tag type="is-info" v-html="safeHTML(course)"></b-tag>
            </b-taglist>
          </div>
          <div class="control" v-if="text != null">
            <b-taglist attached>
              <b-tag type="is-danger">Info</b-tag>
              <b-tag type="is-info" v-html="safeHTML(text)"></b-tag>
            </b-taglist>
          </div>
        </b-field>
      </div>
    </div>
    <br />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import sanitizeHtml from "sanitize-html";

@Component
export default class Item extends Vue {
  @Prop() private time!: string;
  @Prop() private subject!: string;
  @Prop() private teacher!: string;
  @Prop() private text!: string;
  @Prop() private course!: string;
  @Prop() private room!: string;
  allowedHTML = {
    allowedTags: ["b", "i", "em", "strong", "s"],
    allowedAttributes: {},
    allowedIframeHostnames: [],
  };

  safeHTML(raw) {
    const safe = sanitizeHtml(raw, this.allowedHTML);
    return safe;
  }
}
</script>

<style scoped lang="scss">
</style>
