<template>
  <form action>
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">Login</p>
      </header>
      <section class="modal-card-body">
        <b-field label="Password">
          <b-input
            type="password"
            v-model="password"
            password-reveal
            placeholder="Your iserv password"
            required
          ></b-input>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <b-button class="button" type="button" @click="$emit('close')">Close</b-button>
        <b-button class="button is-primary" @click="$emit('input', password)">Login</b-button>
      </footer>
    </div>
  </form>
</template>

<script>
export default {
  data: function () {
    return {
      password: "",
    };
  },
};
</script>
